body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1074px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:860px;
}
#u23420 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:0px;
  width:804px;
  height:860px;
}
#u23420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:867px;
}
#u23421 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:860px;
  width:804px;
  height:867px;
}
#u23421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
