body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2847px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20156 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:191px;
  width:1522px;
  height:62px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20157 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:253px;
  width:1522px;
  height:62px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20158 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:142px;
  width:1522px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20159 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:316px;
  width:1522px;
  height:62px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20160 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:379px;
  width:1522px;
  height:62px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20161 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:441px;
  width:1522px;
  height:62px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1522px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20162 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:504px;
  width:1522px;
  height:62px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u20162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20163 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:192px;
  width:37px;
  height:374px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20164 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:192px;
  width:115px;
  height:375px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u20165 {
  border-width:0px;
  position:absolute;
  left:2823px;
  top:1067px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u20165_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20165_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u20167 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1415px;
  width:127px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u20167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u20168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
}
#u20168 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1475px;
  width:302px;
  height:19px;
  color:#FF3399;
}
#u20168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u20169_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:92px;
}
#u20169 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1417px;
  width:3px;
  height:89px;
}
#u20169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
}
#u20170 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1440px;
  width:109px;
  height:14px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
}
#u20170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u20171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20171 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:192px;
  width:46px;
  height:374px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u20172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:373px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20172 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:193px;
  width:37px;
  height:373px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20173 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:192px;
  width:91px;
  height:374px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u20174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20174 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:192px;
  width:91px;
  height:374px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u20175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20175 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:142px;
  width:49px;
  height:50px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:49px;
  white-space:nowrap;
}
#u20176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20176 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:143px;
  width:49px;
  height:50px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:49px;
  white-space:nowrap;
}
#u20177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:18px;
}
#u20177 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:142px;
  width:49px;
  height:50px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:18px;
}
#u20177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:49px;
  white-space:nowrap;
}
#u20178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20178 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:143px;
  width:49px;
  height:50px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:49px;
  white-space:nowrap;
}
#u20179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20179 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:143px;
  width:37px;
  height:50px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:37px;
  white-space:nowrap;
}
#u20180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20180 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:143px;
  width:49px;
  height:50px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:49px;
  white-space:nowrap;
}
#u20181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20181 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:142px;
  width:25px;
  height:50px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u20181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:25px;
  white-space:nowrap;
}
#u20182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:18px;
}
#u20182 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:143px;
  width:49px;
  height:50px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:18px;
}
#u20182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:49px;
  white-space:nowrap;
}
#u20183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20183 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:191px;
  width:40px;
  height:375px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u20184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20184 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:192px;
  width:178px;
  height:374px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:62px;
}
#u20184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u20186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u20186 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:162px;
  width:7px;
  height:5px;
}
#u20186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u20187 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:169px;
  width:7px;
  height:5px;
}
#u20187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u20189 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:163px;
  width:7px;
  height:5px;
}
#u20189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u20190 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:170px;
  width:7px;
  height:5px;
}
#u20190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20191 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:58px;
  width:258px;
  height:40px;
}
#u20191_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
}
#u20191.selected {
}
#u20191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20192 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:67px;
  width:204px;
  height:22px;
}
#u20192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20192_input {
  font-family:'微软雅黑';
}
#u20193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 187, 194, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 187, 194, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20193 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:58px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20193_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 187, 194, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20193.mouseOver {
}
#u20193_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 187, 194, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20193.mouseDown {
}
#u20193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u20195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20196 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:611px;
  width:114px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u20197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20197 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 187, 194, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20198 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u20199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 187, 194, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00BBC2;
}
#u20199 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00BBC2;
}
#u20199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u20200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20200 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u20201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20201 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u20202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20202 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u20203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20203 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u20204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20204 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20205 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:609px;
  width:25px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u20206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u20206 {
  border-width:0px;
  position:absolute;
  left:1474px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u20206_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u20207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20207 {
  border-width:0px;
  position:absolute;
  left:1529px;
  top:611px;
  width:13px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u20208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20208 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u20209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20209 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u20210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20210 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u20211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u20211 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:605px;
  width:87px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u20211_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u20212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20212 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:616px;
  width:9px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20213 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:616px;
  width:9px;
  height:9px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.800000011920929;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20214 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:616px;
  width:8px;
  height:8px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20215 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u20215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
