body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 187, 194, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19117 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:626px;
  width:150px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19117_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 187, 194, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19117.mouseOver {
  opacity:0.8;
}
#u19117_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 168, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19117.mouseDown {
  opacity:1;
}
#u19117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u19118 {
  position:fixed;
  left:50%;
  margin-left:-120px;
  top:50%;
  margin-top:-17px;
  visibility:hidden;
}
#u19118_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background-image:none;
}
#u19118_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u19120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u19120_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u19121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u19121 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:9px;
  width:16px;
  height:17px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#00A854;
}
#u19121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
#u19122 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:71px;
  width:76px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
#u19122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:76px;
  white-space:nowrap;
}
#u19123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19123 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:73px;
  width:604px;
  height:40px;
}
#u19123_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
}
#u19123.selected {
}
#u19123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19124 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:82px;
  width:586px;
  height:22px;
}
#u19124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#797979;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19124_input {
  font-family:'微软雅黑';
}
#u19125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19125 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:114px;
  width:57px;
  height:16px;
}
#u19125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u19126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19126 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:627px;
  width:150px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19126_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 187, 194, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19126.mouseOver {
}
#u19126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u19127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19127 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:282px;
  width:57px;
  height:16px;
}
#u19127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u19128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19128 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:155px;
  width:385px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u19129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 187, 194, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00BBC2;
  text-align:center;
  line-height:20px;
}
#u19129 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:250px;
  width:100px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00BBC2;
  text-align:center;
  line-height:20px;
}
#u19129_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 128, 252, 1);
  border-radius:0px;
  -moz-box-shadow:0px 3px 6px rgba(10, 103, 251, 0.298039215686275);
  -webkit-box-shadow:0px 3px 6px rgba(10, 103, 251, 0.298039215686275);
  box-shadow:0px 3px 6px rgba(10, 103, 251, 0.298039215686275);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00BBC2;
  text-align:center;
  line-height:20px;
}
#u19129.mouseOver {
}
#u19129_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 187, 194, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00BBC2;
  text-align:center;
  line-height:20px;
}
#u19129.disabled {
}
#u19129_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u19130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:86px;
}
#u19130 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:154px;
  width:86px;
  height:86px;
}
#u19130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19131 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:185px;
  width:24px;
  height:24px;
}
#u19131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:20px;
}
#u19132 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:148px;
  width:89px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:20px;
}
#u19132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:89px;
  white-space:nowrap;
}
#u19133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:262px;
}
#u19133 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:322px;
  width:601px;
  height:262px;
}
#u19133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:20px;
}
#u19134 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:314px;
  width:76px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:20px;
}
#u19134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:76px;
  white-space:nowrap;
}
#u19135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u19135 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:357px;
  width:16px;
  height:14px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u19135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
