body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1595px;
  height:1600px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-90px;
  width:1595px;
  height:1600px;
}
#u22868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1573px;
  height:621px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1573px;
  height:621px;
}
#u22869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22870 {
  border-width:0px;
  position:absolute;
  left:2843px;
  top:977px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u22870_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22870_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22871 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:81px;
  width:1523px;
  height:400px;
}
#u22872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:50px;
}
#u22872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22872_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u22873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:50px;
}
#u22873 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:0px;
  width:1317px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22873_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:1285px;
  word-wrap:break-word;
}
#u22874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:50px;
}
#u22874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:206px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22874_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u22875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:50px;
}
#u22875 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:50px;
  width:1317px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22875_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:1285px;
  word-wrap:break-word;
}
#u22876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:50px;
}
#u22876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:206px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22876_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u22877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:50px;
}
#u22877 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:100px;
  width:1317px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22877_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:1285px;
  word-wrap:break-word;
}
#u22878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:50px;
}
#u22878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:206px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22878_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u22879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:50px;
}
#u22879 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:150px;
  width:1317px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22879_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:1285px;
  word-wrap:break-word;
}
#u22880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:50px;
}
#u22880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:206px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22880_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u22881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:50px;
}
#u22881 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:200px;
  width:1317px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22881_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:1285px;
  word-wrap:break-word;
}
#u22882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:50px;
}
#u22882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:206px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22882_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u22883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:50px;
}
#u22883 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:250px;
  width:1317px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22883_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:1285px;
  word-wrap:break-word;
}
#u22884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:50px;
}
#u22884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:206px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22884_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u22885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:50px;
}
#u22885 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:300px;
  width:1317px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22885_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:1285px;
  word-wrap:break-word;
}
#u22886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:50px;
}
#u22886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:206px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22886_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u22887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:50px;
}
#u22887 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:350px;
  width:1317px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u22887_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:11px;
  width:1285px;
  word-wrap:break-word;
}
#u22889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u22889 {
  border-width:0px;
  position:absolute;
  left:1465px;
  top:-52px;
  width:80px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u22889_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u22889.mouseOver {
}
#u22889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u22890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u22890 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:-43px;
  width:16px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u22890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22892 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:541px;
  width:150px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22892_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 133, 192, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22892.mouseOver {
}
#u22892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u22893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22893 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:541px;
  width:150px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22893_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22893.mouseOver {
  opacity:0.8;
}
#u22893_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(75, 158, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22893.mouseDown {
  opacity:1;
}
#u22893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u22894 {
  position:fixed;
  left:50%;
  margin-left:-120px;
  top:50%;
  margin-top:-17px;
  visibility:hidden;
}
#u22894_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background-image:none;
}
#u22894_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u22896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u22896_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u22897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u22897 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:9px;
  width:16px;
  height:17px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#00A854;
}
#u22897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22898 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:34px;
  width:302px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
#u22899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1573px;
  height:823px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:641px;
  width:1573px;
  height:823px;
}
#u22899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u22900 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:672px;
  width:1501px;
  height:56px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u22900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22901 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:674px;
  width:49px;
  height:54px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:49px;
  white-space:nowrap;
}
#u22902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22902 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:674px;
  width:49px;
  height:54px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:49px;
  white-space:nowrap;
}
#u22903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22903 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:674px;
  width:25px;
  height:54px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  white-space:nowrap;
}
#u22904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22904 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:674px;
  width:25px;
  height:54px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  white-space:nowrap;
}
#u22905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22905 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:674px;
  width:53px;
  height:54px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:53px;
  word-wrap:break-word;
}
#u22906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22906 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:674px;
  width:102px;
  height:54px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:102px;
  word-wrap:break-word;
}
#u22907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22907 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:674px;
  width:113px;
  height:54px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:113px;
  word-wrap:break-word;
}
#u22908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22908 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:674px;
  width:71px;
  height:54px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
.u22910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u22910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:62px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.u22910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u22911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22911 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:24px;
  width:94px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:94px;
  word-wrap:break-word;
}
.u22912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22912 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:24px;
  width:61px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:61px;
  white-space:nowrap;
}
.u22913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22913 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:22px;
  width:23px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
.u22914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22914 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:24px;
  width:33px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:33px;
  word-wrap:break-word;
}
.u22915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22915 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:24px;
  width:37px;
  height:13px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:37px;
  white-space:nowrap;
}
.u22916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22916 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:24px;
  width:46px;
  height:13px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:46px;
  white-space:nowrap;
}
.u22917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22917 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:24px;
  width:46px;
  height:13px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:46px;
  white-space:nowrap;
}
.u22918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22918 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:24px;
  width:94px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:94px;
  word-wrap:break-word;
}
.u22919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22919 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:22px;
  width:33px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:16px;
}
.u22919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u22909-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:62px;
}
#u22909-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:1501px;
  height:62px;
}
#u22909-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:1501px;
  height:62px;
}
#u22909-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:1501px;
  height:62px;
}
#u22909-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:1501px;
  height:62px;
}
#u22909-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:310px;
  width:1501px;
  height:62px;
}
#u22909-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:372px;
  width:1501px;
  height:62px;
}
#u22909-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:434px;
  width:1501px;
  height:62px;
}
#u22909-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:496px;
  width:1501px;
  height:62px;
}
#u22909-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:558px;
  width:1501px;
  height:62px;
}
#u22909 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:728px;
  width:1501px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u22921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22922 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:1381px;
  width:114px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u22923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22923 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 187, 194, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u22924 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u22924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 187, 194, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00BBC2;
}
#u22925 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00BBC2;
}
#u22925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22926 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22927 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22928 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22929 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22930 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22931 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:1379px;
  width:25px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u22932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u22932 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u22932_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u22933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22933 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:1381px;
  width:13px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u22934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22934 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22935 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22936 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u22937 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:1375px;
  width:87px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u22937_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u22938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u22938 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:1386px;
  width:9px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u22939 {
  border-width:0px;
  position:absolute;
  left:1401px;
  top:1386px;
  width:9px;
  height:9px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.800000011920929;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u22940 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:1386px;
  width:8px;
  height:8px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22941 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:1375px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u22941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u22942 {
  position:fixed;
  left:50%;
  margin-left:-353px;
  top:50%;
  margin-top:-185px;
  visibility:hidden;
}
#u22942_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:706px;
  height:370px;
  background-image:none;
}
#u22942_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.298039215686275);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.298039215686275);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.298039215686275);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u22944 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:696px;
  height:360px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#353535;
  line-height:20px;
}
#u22944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u22945 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:696px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u22945_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:666px;
  word-wrap:break-word;
}
#u22946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#353535;
}
#u22946 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:300px;
  width:696px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#353535;
}
#u22946_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:666px;
  word-wrap:break-word;
}
#u22947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22950 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:318px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22950_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22950.mouseOver {
}
#u22950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u22951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 187, 194, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22951 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:318px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22951_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 187, 194, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22951.mouseOver {
  opacity:0.8;
}
#u22951_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22951.mouseDown {
  opacity:1;
}
#u22951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u22953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u22953 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:29px;
  width:14px;
  height:14px;
}
#u22953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22954 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:137px;
  width:624px;
  height:100px;
}
#u22954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22954_input {
  font-family:'微软雅黑';
}
#u22955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22955 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:94px;
  width:424px;
  height:19px;
}
#u22955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u22956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22956 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:674px;
  width:49px;
  height:54px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u22956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:49px;
  white-space:nowrap;
}
